<!--The content below is only a placeholder and can be replaced.-->
<button mat-button>Basic</button>
<!--This  code shows the main menu for the app--->
<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>Company Dashboard</span>
  <span class="example-spacer"></span>
  <mat-icon class="user-icon" aria-hidden="false" aria-label="Example delete icon">perm_identity</mat-icon>
</mat-toolbar-row>
</mat-toolbar>
<!---This is where main data presented --->
<p>
  <!---This is Investor capital data --->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Total Investor Capital
        </mat-panel-title>
        <mat-panel-description class="currency-amounts">

          $288M
        </mat-panel-description>
      </mat-expansion-panel-header>
        $288,385,877
    </mat-expansion-panel>
  </mat-accordion>
  <!---This is Investor capital Deployed --->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Total Capital Deployed
        </mat-panel-title>
        <mat-panel-description class="currency-amounts">
          $231M
        </mat-panel-description>
      </mat-expansion-panel-header>
        $231,268,842
    </mat-expansion-panel>
  </mat-accordion>
</p>

<p>
  <!---This is Investor capital data --->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Net Interest Margin
        </mat-panel-title>
        <mat-panel-description class="perc-interest-margin">
          1.44%
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>
  </mat-accordion>
</p>

<router-outlet></router-outlet>
